{% trans_default_domain 'telegram.bot' %}

{% if cards %}

    <div class="modal-dialog modal-dialog-centered" style="max-width: 700px;">

        <div class="modal-content p-3 border-bottom border-5 border-primary">

            {{ form_start(form) }}

            <div class="modal-header">

                <h5 class="modal-title">
                    {# Заголовок модального окна #}
                    {{ 'admin.product.send'|trans }}
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body d-flex justify-content-between " style="flex-direction: column;">

                {% for card in cards %}
                    {% set arr_property = card.categorySectionField|json_decode %}
                    {# Вывести товар #}

                    <div class="d-flex justify-content-between gap-3 align-items-center w-100 mb-2  {{ loop.last ?: 'border-bottom border-light' }}">

                        {# Обложка  #}
                        {% set image_path = '/assets/'~version~'/img/blank.svg' %}

                        {% if card.productImageExt is defined and card.productImageExt is not null %}
                            {% set image_path = cdn_image_path(card.productImage, card.productImageExt, card.productImageCdn) %}
                        {% endif %}

                        {# Изображение товара  #}
                        <div>
                            <div class="icon rounded-4 mb-2 bg-cover p-1"
                                 style="width: 45px; height: 60px; background-image: url('{{ image_path }}');"
                            ></div>
                        </div>

                        {# Полное название оффера #}
                        <div class='w-100'>
                            <div class="text-truncate fw-bolder mb-1 text-dark text-decoration-none"
                                 style="max-width: 230px"
                                 role="tooltip"
                                 data-bs-toggle="tooltip"
                                 data-bs-placement="top"
                                 data-bs-delay='{"show":800,"hide":10}'
                                 title="{{ card.productName }}"
                            >

                                {{ card.productName|capitalize }}

                                {# Значение множественного варианта ТП #}
                                {{ card.productVariationValue|call_twig_func(card.productVariationReference~'_render') ~
                                card.productModificationValue|call_twig_func(card.productModificationReference~'_render') }}

                                {# Значение торгового предложения #}
                                {{ card.productOfferValue|call_twig_func(card.productOfferReference~'_render') }}

                                {# Постфикс торгового предложения #}
                                {{ card.productOfferPostfix }}
                                {# Постфикс множественного варианта #}
                                {{ card.productVariationPostfix }}
                                {# Постфикс модификации #}
                                {{ card.productModificationPostfix }}

                            </div>
                        </div>

                        {# Скрытые поля  #}

                        {{ form_widget(form.collection[loop.index0].product) }}
                        {{ form_widget(form.collection[loop.index0].offer) }}
                        {{ form_widget(form.collection[loop.index0].variation) }}
                        {{ form_widget(form.collection[loop.index0].modification) }}

                    </div>



                {% endfor %}

                <div class="messages fs-6 opacity-75">

                    <h6>Выберите сообщения:</h6>

                    {{ form_widget(form.messages) }}
                </div>
            </div>

            <div class="modal-footer ">
                <div class="flex-grow-1">
                    &nbsp;
                </div>
                <div class="mt-3 gap-3 d-flex">
                    {# Отмена #}
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        {{ 'btn.cancel'|trans({}, 'core.btn') }}
                    </button>

                    {{ form_widget(form.telegram_product_info, { label: '
                    <span>'~ 'btn.send'|trans({}, 'telegram.bot') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
                '}) }}
                </div>
            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endif %}
