{% trans_default_domain('telegram.bot') %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 700px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">
        <div class="modal-header">

            <h5 class="modal-title">
                {# Заголовок модального окна #}
                {{ 'admin.page.edit'|trans }}
            </h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" title="Close"></button>
        </div>

        <div class="modal-body">
            {{ include('@telegram-bot/admin/newedit/_form/pc/_form.html.twig') }}
        </div>

        <div class="modal-footer">
            <div class="flex-grow-1">
                &nbsp;
            </div>
            <div class="d-flex gap-3">
                {# Отмена #}
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>

                {# Добавить #}
                {{ form_widget(form.telegram_bot_settings, { label: '
                    <span>'~ 'btn.edit'|trans({}, 'core.btn') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>

                '}) }}
            </div>

        </div>

    </div>
    {{ form_end(form) }}
</div>
